*,
*::before,
*::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: $font-main;
    padding: 0;
    margin: 0;
}

body.lock {
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    min-height: 100%;
    flex: 1 1 auto;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    transition: .3s;
}

// Remove ScrollBar
::-webkit-scrollbar {
    width: 0;
}
